<!-- url(http://i.imgur.com/ydlRy4G.png); -->
<!-- url(http://i.imgur.com/T1uCO2F.jpg) -->
<link rel="stylesheet" href="/stylesheets/cssshake.css">

<!-- <div id="wrapper"> -->
<% if current_user %>
<!-- Sidebar -->
  <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
          <li class="sidebar-brand">
            <h4>Welcome, <%= current_user.name %> </h4> 

              <h3>Last 10 Guilts</h3>
          </li>
            <% if @all_items %>
             <% @all_items.each do |i| %>
            <li>
              <a href="/results/<%= i.id %>"> <%= i.desired_name %> </a>
            </li>


          <% end %>
          <li> <br/> <a class="btn btn-default" id="logout" href="/log_out" role="button">Log Out</a></li>

          <% elsif @all_items == nil %>
            <% redirect '/coffee' %>
          <% end %>

      </ul>
  </div>
<!-- /#sidebar-wrapper -->

<!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="center">
          <div class="col-lg-12">
              

              <% if @items && @items.errors.any? %>
                <div>
                  <strong>Your base item is greater than your dream item! Try again.</strong>
                  <ul>
                    <% @items.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                  </ul>
                </div>
              <% end %>

            <div class="row">


              <form class="form-horizontal" method="post" action="/results">
                    <div class="col-xs-8">
              <h1>Coffee Guilt</h1>

              <div class="shake-slow shake-constant">
              <img id="shake_cup" src="http://i68.tinypic.com/2iqmi3t.png" alt="Cup"></img>
              </div>
              </div>
                <div class="col-xs-8">
                  <br>
                  <label for="DesiredName">Dream Item</label>
                  <input type="text" class="form-control" name="desired_name" id="desired_name" placeholder="Item name">
               </div>

                <div class="col-xs-8">
                  <br>
                  <label for="DesiredPrice">Dream Item Cost</label>
                  <input type="integer" class="form-control" name="desired_price" id="desired_price" placeholder="Item price">
                </div>

                <div class="col-xs-8">
                  <p> How many fancy $5 coffees does it take to buy your dream item?</p>
                </div>

                <div class="col-sm-10">
                  <br>
                  <button type="submit" class="btn btn-primary">Guilt! </button>
                  <a class="btn btn-primary" href="/coffee" role="button"> Cafe Finder</a> 
                </div>
                
               <div class="col-xs-8">
                  <br>
                  <label for="BaseName"></label>
                  <input type="hidden" class="form-control" name="base_name" id="base_name" value="coffee" readonly placeholder="coffee">
               </div>

                <div class="col-xs-8">
                  <br>
                  <label for="BasePrice"></label>
                  <input type="hidden" class="form-control" name="base_price" id="base_price" value="5" readonly placeholder="5">
               </div> 

              </form>

            </div>
              
        </div>
      </div>
    </div>
  </div>
<!-- /#page-content-wrapper -->
<% else %>


<% if @user && @user.errors.any? %>
  <div>
    <strong>Some issues with your username, please fix them:</strong>
    <ul>
      <% @user.errors.full_messages.each do |user| %>
        <li><%= user %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="center">
<div class="row">

<form class="form-horizontal" method="post" action="/log_in">
  <div class="col-xs-8">
    <h1>Coffee Guilt</h1>

    <div class="shake-slow shake-constant">
    <img id="shake_cup" src="http://i68.tinypic.com/2iqmi3t.png" alt="Cup"></img>
    </div>
    <h3> Log in to start checking how many expensive coffees you'll need to give up to buy your dream item!</h3>
  </div>
    <div class="col-xs-8">
    <br>
      <label for="Username">Username:</label>
      <input type="text" class="form-control" name="name" id="Username" placeholder="Username">
   </div>

    <div class="col-xs-8">
    <br>
      <label for="Password">Password:</label>
      <input type="password" class="form-control" name="password" id="inputPassword" placeholder="Password">
    </div>
    
    <div class="col-sm-10">
      <br>
      <button type="submit" class="btn btn-primary">Log In</button>
    </div>


  </form>
</div>
</div>

<% end %>


<!-- </div> -->
<!-- /#wrapper