 <script src="//cdn.jsdelivr.net/velocity/1.2.3/velocity.min.js"></script>

 <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
          <div class="col-lg-12">
            <h1>Results</h1>

            <h2>A <%= @item.desired_name %> will get you <%= ((@item.desired_price / @item.base_price).floor).to_s.reverse.gsub(/(\d{3})(?=\d)/, '\\1,').reverse %>  <%= @item.base_name %>s </h2>

            <h3> <%= @item.threshold %> </h3>

            <h4> <%= @list = Item.order(created_at: :desc).limit(10) %>
            <p><%= p @list %></p>
             </h4>


          </div>

          <div class="container">
            <ul class='no_indent'>

            <% @calculation = (@item.desired_price / @item.base_price).floor %>
            <% @calculation.times do |c| %>

              <li class='coffee_icon'></li>
            <% end %>
            </ul>
          </div>
        
      </div>
    </div>
  </div>