 <script src="//cdn.jsdelivr.net/velocity/1.2.3/velocity.min.js"></script>

 <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="result_box">
      <div class="row">
          <div class="col-lg-12">
            <h1>Results</h1>

            <h2>A <%= @item.desired_name %> will get you <%= @item.calculation.to_s.reverse.gsub(/(\d{3})(?=\d)/, '\\1,').reverse %>  <%= @item.base_name %>s </h2>

            <h3> <%= @item.threshold %> </h3>

            <h4> <%= @list = Item.order(created_at: :desc).limit(10) %>
            <p><%= p @list %></p>
             </h4>


          </div>
          </div>

          <div class="container_coffee">
            <ul class='no_indent'>


            
            <% if @item.calculation < 100 %>
              <% @item.calculation.times do |c| %>

                <li class='coffee_icon'></li>
              <% end %>
            <% else %>
              <% 100.times do |c| %>

                <li class='coffee_icon'></li>
              <% end %>
              <h3>Ran out of coffee images. Sry</h3>
            <% end %>
            </ul>
          </div>
        
      </div>
    </div>
  </div>