 <script src="//cdn.jsdelivr.net/velocity/1.2.3/velocity.min.js"></script>
   <script> 
    $(document).ready(function() {Materialize.showStaggeredList('.coffee_list');
  });
  </script>

 <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="result_box">
      <div class="row">
          <div class="col-lg-12">
            <h1>Results</h1>

            <h2>A <%= @item.desired_name %> will get you <%= @item.calculation.to_s.reverse.gsub(/(\d{3})(?=\d)/, '\\1,').reverse %>  <%= @item.base_name %>s </h2>

            <h3> <%= @item.threshold %> </h3>

          </div>
        </div>

        
        <% if @item.calculation < 500 %>
          <div class="coffee_container">
            <% (@item.calculation/28).times do |c| %>
            <div class="coffee_set" style="left:<%=2*c%>px; top:<%=3*c%>px; %>">
                <ul class='coffee_list'>
                <% 28.times do |img| %>
                  <li class='coffee_icon' style="transform: translateX(0px); opacity: 0;"></li>
                <% end %>
              </ul>
            </div>
            <% end %>

            <% if @item.calculation % 28 != 0 %>
              <div class="coffee_set">
                <ul class='coffee_list'>
                <% (@item.calculation % 28).times do |img| %>
                  <li class='coffee_icon' style="transform: translateX(0px); opacity: 0;"></li>
                <% end %>
              </ul>
            </div>
            <% end %>
          </div>
        <% else %>
          <div class="coffee_container">
          <% 18.times do |c| %>
            <div class="coffee_set" style="left:<%=2*c%>px; top:<%=2*c%>px; %>">
                <ul class='coffee_list'>
                <% 28.times do |img| %>
                <li class='coffee_icon' style="transform: translateX(0px); opacity: 0;"></li>
                    <div class="last_label">
                    </div>
                  <% end %>

                <% end %>

              </ul>

            </div>
          <% end %>

          </div>

     </div>
    </div>


  </div>