 <script src="//cdn.jsdelivr.net/velocity/1.2.3/velocity.min.js"></script>

 <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="result_box">
      <div class="row">
          <div class="col-lg-12">
            <h1>Results</h1>

            <h2>A <%= @item.desired_name %> will get you <%= @item.calculation.to_s.reverse.gsub(/(\d{3})(?=\d)/, '\\1,').reverse %>  <%= @item.base_name %>s </h2>

            <h3> <%= @item.threshold %> </h3>

            <h4> <%= @list = Item.order(created_at: :desc).limit(10) %>
            <p><%= p @list %></p>
             </h4>


          </div>
          </div>

          


          <div class="coffee_container">
            <% (@item.calculation/28).times do |c| %>
            <div class="coffee_set">
                <ul class='no_indent'>
                <% 28.times do |img| %>
                <li class='coffee_icon'></li>
                <% end %>
              </ul>
            </div>
            <% end %>
            <% if @item.calculation % 28 != 0 %>
              <div class="coffee_set">
                <ul class='no_indent'>
                <% (@item.calculation % 28).times do |img| %>
                <li class='coffee_icon'></li>
                <% end %>
              </ul>
            </div>
            <% end %>
          </div>
          
        
      </div>
    </div>
  </div>